In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_data.head(20)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [3]:
school_math_scores_mean = school_data_complete[school_data_complete["math_score"] >= 70].groupby('school_name')['math_score'].mean()
school_math_scores_mean.head(15)

school_name
Bailey High School       84.505124
Cabrera High School      83.972556
Figueroa High School     84.310894
Ford High School         84.165687
Griffin High School      84.394602
Hernandez High School    84.936975
Holden High School       85.040506
Huang High School        84.240084
Johnson High School      84.742448
Pena High School         84.719780
Rodriguez High School    84.339111
Shelton High School      84.326679
Thomas High School       84.497705
Wilson High School       84.244050
Wright High School       84.758929
Name: math_score, dtype: float64

In [4]:
# Calculate the total number of unique schools
school_count = school_data["school_name"].count()
school_count

15

In [5]:
#Calculate the total number of students
student_count = school_data["size"].sum()
student_count

39170

In [6]:
#Total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [7]:
#Average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [8]:
#Average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [9]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / student_count * 100
print(passing_math_percentage)

74.9808526933878

In [10]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [11]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [12]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
            {
            "Total Schools" : [15],
            "Total Students" : [39170],
            "Total Budget" : [24649428],
            "Average Math Score" : [78.98537145774827],
            "Average Reading Score" : [81.87784018381414],
            "% Passing Math" : [74.9808526933878],
            "% Passing Reading" : [85.80546336482001],
            "% Passing Math and Reading" : [65.17232575950983]   
            },
            index = ["District Summary"])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
District Summary,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [13]:
# School Name
school_name = school_data["school_name"]
school_name

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [14]:
# Use the code provided to select all of the school types
school_types = school_data["type"]
school_types

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [15]:
school_names = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School",
                "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School",
                "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School",
                "Ford High School", "Thomas High School"]

In [16]:
# Calculate the total student count per school
student_count = []

for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    count = school_df["student_name"].count()
    student_count.append(count)

student_count_data = { 'Student Count Per School': student_count}
per_school_student_count = pd.DataFrame(student_count_data, index=school_names)
per_school_student_count.dtypes

Student Count Per School    int64
dtype: object

In [17]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data.iloc[:,4]
per_school_capita = school_data.iloc[:,4]/school_data.iloc[:,3]
print(per_school_budget)
print(per_school_capita)

0     1910635
1     1884411
2     1056600
3     3022020
4      917500
5     1319574
6     1081356
7     3124928
8      248087
9      585858
10    1049400
11    2547363
12    3094650
13    1763916
14    1043130
Name: budget, dtype: int64
0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [18]:
math_score_avg = []
# Calculate the average math score for each school
for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    avg_score = school_df["math_score"].mean()
    math_score_avg.append(avg_score)

#print(math_score_avg)
# Create a DataFrame to store the results
math_score_avg_data = {'Math Score Avg Per School': math_score_avg}
per_school_math = pd.DataFrame(math_score_avg_data, index=None)
per_school_math

reading_score_avg = []
# Calculate the average reading score for each school
for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    avg_score = school_df["reading_score"].mean()
    reading_score_avg.append(avg_score)

#print(reading_score_avg)
# Create a DataFrame to store the results
reading_score_avg_data = {'Reading Score Avg Per School': reading_score_avg}
per_school_reading = pd.DataFrame(reading_score_avg_data, index=None)

per_school_reading

    Reading Score Avg Per School
0                      81.182722
1                      81.158020
2                      83.725724
3                      80.934412
4                      83.989488
5                      83.975780
6                      81.033963
7                      83.814988
8                      84.044699
9                      83.955000
10                     80.744686
11                     80.966394
12                     80.746258
13                     83.848930

In [19]:
# Calculate the number of students per school with math scores of 70 or higher
school_passable_math_students = []

# Loop through each school and calculate the number of students passing reading
for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    students_pass_math = (school_df["math_score"] >= 70).sum()
    #school_students_passing_math.append(students_pass_math)
    school_passable_math_students.append(students_pass_math)

students_passing_math_data = {'Per School Math': school_passable_math_students}
school_students_passing_math = pd.DataFrame(students_passing_math_data, index=school_names)
students_passing_math=school_students_passing_math["Per School Math"].sum()
school_students_passing_math.head(15)
#print(students_passing_math)
#print(school_students_passing_math)

                       Per School Math
Huang High School                 1916
Figueroa High School              1946
Shelton High School               1653
Hernandez High School             3094
Wilson High School                2143
Cabrera High School               1749
Bailey High School                3318
Holden High School                 395
Pena High School                   910
Wright High School                1680
Rodriguez High School             2654
Johnson High School               3145
Ford High School                  1871
Thomas High School                1525

In [20]:
school_passable_reading_students = []

# Loop through each school and calculate the number of students passing reading
for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    students_pass_reading = (school_df["reading_score"] >= 70).sum()
    school_passable_reading_students.append(students_pass_reading)

# Create a DataFrame to store the results
students_passing_reading_data = {'Per School Reading': school_passable_reading_students}
school_students_passing_reading = pd.DataFrame(students_passing_reading_data, index=school_names)
students_passing_reading=school_students_passing_reading["Per School Reading"].sum()
school_students_passing_reading.head(15)
# Print the result
#print(students_passing_reading)
#print(school_students_passing_reading)

                       Per School Reading
Huang High School                    2372
Figueroa High School                 2381
Shelton High School                  1688
Hernandez High School                3748
Wilson High School                   2204
Cabrera High School                  1803
Bailey High School                   4077
Holden High School                    411
Pena High School                      923
Wright High School                   1739
Rodriguez High School                3208
Johnson High School                  3867
Ford High School                     2172
Thomas High School                   1591

In [21]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
students_passing_math_and_reading.head()

school_students_passing_math_and_reading_df = pd.DataFrame({'Students Passing Math and Reading': school_students_passing_math_and_reading}, index=school_names)
school_students_passing_math_and_reading_df

                       Students Passing Math and Reading
Huang High School                                   1561
Figueroa High School                                1569
Shelton High School                                 1583
Hernandez High School                               2481
Wilson High School                                  2068
Cabrera High School                                 1697
Bailey High School                                  2719
Holden High School                                   381
Pena High School                                     871
Wright High School                                  1626
Rodriguez High School                               2119
Johnson High School                                 2549
Ford High School                                    1487
Thomas High School                                  1487

In [22]:
school_students_passing_math_and_reading_df.dtypes

Students Passing Math and Reading    int64
dtype: object

In [23]:
school_students_passing_math['Per School Math'] = school_students_passing_math['Per School Math'].astype(int)

In [24]:
school_students_passing_reading['Per School Reading'] = school_students_passing_reading['Per School Reading'].astype(float)

In [25]:
school_students_passing_math_and_reading_df['Students Passing Math and Reading'] = school_students_passing_math_and_reading_df['Students Passing Math and Reading'] .astype(int)

In [26]:
school_students_passing_math["Per School Math"].values

array([1916, 1946, 1653, 3094, 2143, 1749, 3318,  395,  910, 1680, 2654,
       3145, 1871, 1525])

In [27]:
school_students_passing_reading["Per School Reading"].values

array([2372., 2381., 1688., 3748., 2204., 1803., 4077.,  411.,  923.,
       1739., 3208., 3867., 2172., 1591.])

In [28]:
per_school_student_count["Student Count Per School"].values

array([2917, 2949, 1761, 4635, 2283, 1858, 4976,  427,  962, 1800, 3999,
       4761, 2739, 1635])

In [29]:
school_students_passing_math["Per School Math"].values/per_school_student_count['Student Count Per School'].values

array([0.65683922, 0.65988471, 0.93867121, 0.66752967, 0.93867718,
       0.94133477, 0.66680064, 0.92505855, 0.94594595, 0.93333333,
       0.66366592, 0.66057551, 0.68309602, 0.93272171])

In [30]:
school_students_passing_reading["Per School Reading"].values/per_school_student_count['Student Count Per School'].values

array([0.81316421, 0.80739234, 0.95854628, 0.80862999, 0.96539641,
       0.97039828, 0.8193328 , 0.96252927, 0.95945946, 0.96611111,
       0.80220055, 0.81222432, 0.79299014, 0.97308869])

In [31]:
school_students_passing_math['Per School Math'].rename('Student Count Per School') / per_school_student_count['Student Count Per School']

Huang High School        0.656839
Figueroa High School     0.659885
Shelton High School      0.938671
Hernandez High School    0.667530
Wilson High School       0.938677
Cabrera High School      0.941335
Bailey High School       0.666801
Holden High School       0.925059
Pena High School         0.945946
Wright High School       0.933333
Rodriguez High School    0.663666
Johnson High School      0.660576
Ford High School         0.683096
Thomas High School       0.932722
Name: Student Count Per School, dtype: float64

In [32]:
school_math_scores_mean = school_data_complete[school_data_complete["math_score"] >= 70].groupby('school_name')['math_score'].mean()
school_math_scores_mean.head(15)

school_name
Bailey High School       84.505124
Cabrera High School      83.972556
Figueroa High School     84.310894
Ford High School         84.165687
Griffin High School      84.394602
Hernandez High School    84.936975
Holden High School       85.040506
Huang High School        84.240084
Johnson High School      84.742448
Pena High School         84.719780
Rodriguez High School    84.339111
Shelton High School      84.326679
Thomas High School       84.497705
Wilson High School       84.244050
Wright High School       84.758929
Name: math_score, dtype: float64

In [33]:
school_reading_scores_mean = school_data_complete[school_data_complete["reading_score"] >= 70].groupby('school_name')['reading_score'].mean()
school_reading_scores_mean.head(15)

school_name
Bailey High School       84.362521
Cabrera High School      84.432612
Figueroa High School     84.767745
Ford High School         84.612799
Griffin High School      84.253156
Hernandez High School    84.483725
Holden High School       84.391727
Huang High School        84.691400
Johnson High School      84.430566
Pena High School         84.680390
Rodriguez High School    84.374377
Shelton High School      84.362559
Thomas High School       84.259585
Wilson High School       84.526770
Wright High School       84.479586
Name: reading_score, dtype: float64

In [34]:
school_students_passing_math['Percentage Passing Math'] = (school_students_passing_math['Per School Math'] / per_school_student_count['Student Count Per School']) * 100
school_students_passing_math.head(15)

                       Per School Math  Percentage Passing Math
Huang High School                 1916                65.683922
Figueroa High School              1946                65.988471
Shelton High School               1653                93.867121
Hernandez High School             3094                66.752967
Wilson High School                2143                93.867718
Cabrera High School               1749                94.133477
Bailey High School                3318                66.680064
Holden High School                 395                92.505855
Pena High School                   910                94.594595
Wright High School                1680                93.333333
Rodriguez High School             2654                66.366592
Johnson High School               3145                66.057551
Ford High School                  1871                68.309602
Thomas High School                1525                93.272171

In [35]:
school_students_passing_reading['Per School Reading'] = school_students_passing_reading['Per School Reading'].astype(int)

In [36]:
per_school_student_count['Student Count Per School'].dtype

dtype('int64')

In [37]:
school_students_passing_reading['Per School Reading'].dtype

dtype('int64')

In [38]:
school_reading_scores_mean = school_data_complete[school_data_complete["reading_score"] >= 70].groupby('school_name')['reading_score'].mean()
school_reading_scores_mean.head()

school_name
Bailey High School      84.362521
Cabrera High School     84.432612
Figueroa High School    84.767745
Ford High School        84.612799
Griffin High School     84.253156
Name: reading_score, dtype: float64

In [48]:
# Use the provided code to calculate the passing rates
#per_school_passing_math =  school_students_passing_math / per_school_student_count * 100
per_school_passing_math= (school_students_passing_math['Per School Math'] / per_school_student_count['Student Count Per School']) * 100
per_school_passing_reading =(school_students_passing_reading['Per School Reading'] / per_school_student_count['Student Count Per School']) * 100
overall_passing_rate = (school_students_passing_math_and_reading_df['Students Passing Math and Reading'] / per_school_student_count['Student Count Per School']) * 100
#per_school_student_count.dtypes
#school_students_passing_math.shape()
#per_school_student_count.dtypes
print(per_school_passing_reading)
print(per_school_passing_math)
overall_passing_rate.head(15)

Huang High School        81.316421
Figueroa High School     80.739234
Shelton High School      95.854628
Hernandez High School    80.862999
Wilson High School       96.539641
Cabrera High School      97.039828
Bailey High School       81.933280
Holden High School       96.252927
Pena High School         95.945946
Wright High School       96.611111
Rodriguez High School    80.220055
Johnson High School      81.222432
Ford High School         79.299014
Thomas High School       97.308869
dtype: float64
Huang High School        65.683922
Figueroa High School     65.988471
Shelton High School      93.867121
Hernandez High School    66.752967
Wilson High School       93.867718
Cabrera High School      94.133477
Bailey High School       66.680064
Holden High School       92.505855
Pena High School         94.594595
Wright High School       93.333333
Rodriguez High School    66.366592
Johnson High School      66.057551
Ford High School         68.309602
Thomas High School       93.272171
dtype: float64

Huang High School        53.513884
Figueroa High School     53.204476
Shelton High School      89.892107
Hernandez High School    53.527508
Wilson High School       90.582567
Cabrera High School      91.334769
Bailey High School       54.642283
Holden High School       89.227166
Pena High School         90.540541
Wright High School       90.333333
Rodriguez High School    52.988247
Johnson High School      53.539172
Ford High School         54.289887
Thomas High School       90.948012
dtype: float64

In [49]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = 

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

SyntaxError: invalid syntax (2536131374.py, line 2)

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = 
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade