In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_math_scores_mean = school_data_complete[school_data_complete["math_score"] >= 70].groupby('school_name')['math_score'].mean()
school_math_scores_mean.head(15)

school_name
Bailey High School       84.505124
Cabrera High School      83.972556
Figueroa High School     84.310894
Ford High School         84.165687
Griffin High School      84.394602
Hernandez High School    84.936975
Holden High School       85.040506
Huang High School        84.240084
Johnson High School      84.742448
Pena High School         84.719780
Rodriguez High School    84.339111
Shelton High School      84.326679
Thomas High School       84.497705
Wilson High School       84.244050
Wright High School       84.758929
Name: math_score, dtype: float64

In [3]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [4]:
# Calculate the total number of unique schools
school_count = school_data["school_name"].count()
school_count

15

In [5]:
#Calculate the total number of students
student_count = school_data["size"].sum()
student_count

39170

In [6]:
#Total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [7]:
#Average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [8]:
#Average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [9]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / student_count * 100
print(passing_math_percentage)

74.9808526933878

In [10]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [11]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [12]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
            {
            "Total Schools" : [15],
            "Total Students" : [39170],
            "Total Budget" : [24649428],
            "Average Math Score" : [78.98537145774827],
            "Average Reading Score" : [81.87784018381414],
            "% Passing Math" : [74.9808526933878],
            "% Passing Reading" : [85.80546336482001],
            "% Passing Math and Reading" : [65.17232575950983]   
            },
            index = ["District Summary"])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
District Summary,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
# Use the code provided to select all of the school types
school_types = school_data["type"]
school_types

#school_types = school_data["type"]

# Convert the Series to a DataFrame
#school_types_df = pd.DataFrame(school_types, columns=["School Type"])

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [14]:
school_names = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School",
                "Hernandez High School","Wilson High School", "Cabrera High School", "Bailey High School", 
                "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", 
                "Johnson High School", "Ford High School", "Thomas High School"]

In [15]:
# School Name
school_name_data = school_data["school_name"]
math_score_avg_data = {'School Name': school_name_data}
school_name_df = pd.DataFrame(math_score_avg_data, index=None)
print(school_name_df.dtypes)
school_name_df.head(20)

School Name    object
dtype: object

              School Name
0       Huang High School
1    Figueroa High School
2     Shelton High School
3   Hernandez High School
4     Griffin High School
5      Wilson High School
6     Cabrera High School
7      Bailey High School
8      Holden High School
9        Pena High School
10     Wright High School
11  Rodriguez High School
12    Johnson High School
13       Ford High School
14     Thomas High School

In [16]:
# Calculate the total student count per school
student_count = []

for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    count = school_df["student_name"].count()
    student_count.append(count)

student_count_data = { 'Student Count Per School': student_count}
per_school_student_count = pd.DataFrame(student_count_data, index=school_names)

# Alternatively, you can create the DataFrame with a specific column name:
per_school_student_count = pd.DataFrame(student_count_data, columns=['Student Count Per School'])

per_school_student_count.dtypes

Student Count Per School    int64
dtype: object

In [17]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data.iloc[:, 4]
per_school_capita = school_data.iloc[:, 4] / school_data.iloc[:, 3]

# Print data types
print(per_school_budget.dtypes)
print(per_school_capita.dtypes)

int64
float64

In [18]:
math_score_avg = []
# Calculate the average math score for each school
for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    avg_score = school_df["math_score"].mean()
    math_score_avg.append(avg_score)

#print(math_score_avg)
math_score_avg_data = {'Math Score Avg Per School': math_score_avg}
per_school_math_df = pd.DataFrame(math_score_avg_data, index=None)
per_school_math_df

reading_score_avg = []
# Calculate the average reading score for each school
for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    avg_score = school_df["reading_score"].mean()
    reading_score_avg.append(avg_score)

#print(reading_score_avg)
# Create a DataFrame to store the results
reading_score_avg_data = {'Reading Score Avg Per School': reading_score_avg}
per_school_reading_df = pd.DataFrame(reading_score_avg_data, index=None)

print(per_school_math_df.dtypes)
per_school_reading_df.dtypes
#per_school_math.dtypes

Math Score Avg Per School    float64
dtype: object

Reading Score Avg Per School    float64
dtype: object

In [19]:
# Calculate the number of students per school with math scores of 70 or higher
school_passable_math_students = []

# Loop through each school and calculate the number of students passing math
for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    students_pass_math = (school_df["math_score"] >= 70).sum()
    school_passable_math_students.append(students_pass_math)

school_students_passing_math_data = {'Per School Math': school_passable_math_students}
school_students_passing_math_df = pd.DataFrame(school_students_passing_math_data, index=school_names)

print(school_students_passing_math_df.dtypes)

Per School Math    int64
dtype: object

In [20]:
school_passable_reading_students = []

# Loop through each school and calculate the number of students passing reading
for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    students_pass_reading = (school_df["reading_score"] >= 70).sum()
    school_passable_reading_students.append(students_pass_reading)

# Create a DataFrame to store the results
students_passing_reading_data = {'Per School Reading': school_passable_reading_students}
school_students_passing_reading_df = pd.DataFrame(students_passing_reading_data, index=school_names)


students_passing_reading=school_students_passing_reading_df.sum
#students_passing_reading_data = {'Per School Reading': students_passing_reading.sum}
#students_passing_reading_df = pd.DataFrame(students_passing_reading_data, index=["Total"])

school_students_passing_reading_df.dtypes

Per School Reading    int64
dtype: object

In [21]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
students_passing_math_and_reading.head()

school_students_passing_math_and_reading_df = pd.DataFrame({'Students Passing Math and Reading': school_students_passing_math_and_reading}, index=school_names)
school_students_passing_math_and_reading_df.dtypes

Students Passing Math and Reading    int64
dtype: object

In [22]:
school_students_passing_math_df['Per School Math'] = school_students_passing_math_df['Per School Math'].astype(int)

In [23]:
per_school_student_count['Student Count Per School']=per_school_student_count['Student Count Per School'].astype(int)

In [29]:
# Use the provided code to calculate the passing rates
#per_school_passing_math =  school_students_passing_math / per_school_student_count * 100
per_school_passing_math= (school_students_passing_math_df['Per School Math'] / per_school_student_count['Student Count Per School']) * 100
per_school_passing_reading =(school_students_passing_reading_df['Per School Reading'] / per_school_student_count['Student Count Per School']) * 100
overall_passing_rate = (school_students_passing_math_and_reading_df['Students Passing Math and Reading'] / per_school_student_count['Student Count Per School']) * 10

In [30]:
#per_school_passing_math = (school_students_passing_math_df['Per School Math'] / per_school_student_count['Student Count Per School']) * 100
#print(per_school_passing_math)

In [31]:
school_students_passing_reading_df['Per School Reading'].shape

(15,)

In [32]:
print(school_name_df)
print(school_types)
print(school_students_passing_math_df)
print(school_students_passing_reading_df)
print(school_students_passing_math_and_reading_df)
print(per_school_passing_math )

              School Name
0       Huang High School
1    Figueroa High School
2     Shelton High School
3   Hernandez High School
4     Griffin High School
5      Wilson High School
6     Cabrera High School
7      Bailey High School
8      Holden High School
9        Pena High School
10     Wright High School
11  Rodriguez High School
12    Johnson High School
13       Ford High School
14     Thomas High School
0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object
                       Per School Math
Huang High School                 1916
Figueroa High School              1946
Shelton High School               1653
Hernandez High School             3094
Hernandez High School             3094
Wilson High School                2143
Cabrera High School               1749
Bailey High School                3318
Holden High School                 395
Pena High School                   910
Wright High School                1680
Rodriguez High School             2654
Johnson High School               3145
Ford High School                  1871
Thomas High School                1525
                       Per School Reading
Huang High School                    2372
Figueroa High School                 2381
Shelton High School                  1688
Hernandez High School                3748
Hernandez High School                3748
Wilson High School                   2204
Cabrera High School                  1803
Bailey High School                   4077
Holden High School                    411
Pena High School                      923
Wright High School                   1739
Rodriguez High School                3208
Johnson High School                  3867
Ford High School                     2172
Thomas High School                   1591
                       Students Passing Math and Reading
Huang High School                                   1561
Figueroa High School                                1569
Shelton High School                                 1583
Hernandez High School                               2481
Hernandez High School                               2481
Wilson High School                                  2068
Cabrera High School                                 1697
Bailey High School                                  2719
Holden High School                                   381
Pena High School                                     871
Wright High School                                  1626
Rodriguez High School                               2119
Johnson High School                                 2549
Ford High School                                    1487
Thomas High School                                  1487
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
Bailey High School      NaN
Cabrera High School     NaN
Figueroa High School    NaN
Ford High School        NaN
Hernandez High School   NaN
Hernandez High School   NaN
Holden High School      NaN
Huang High School       NaN
Johnson High School     NaN
Pena High School        NaN
Rodriguez High School   NaN
Shelton High School     NaN
Thomas High School      NaN
Wilson High School      NaN
Wright High School      NaN
dtype: float64

In [33]:
# Reset the index of DataFrames
per_school_passing_math.reset_index(drop=True, inplace=True)
per_school_passing_reading.reset_index(drop=True, inplace=True)
overall_passing_rate.reset_index(drop=True, inplace=True)

# Concatenate the DataFrames
per_school_summary = pd.concat([
    per_school_passing_math,
    per_school_passing_reading,
    overall_passing_rate,
    school_types_df
], axis=1)


print(per_school_summary)

NameError: name 'school_types_df' is not defined

In [ ]:
  #school_name_df,
    #school_types,
    #school_students_passing_math_df,
    #school_students_passing_reading_df,