In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_data.head(20)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [3]:
# Calculate the total number of unique schools
school_count = school_data["school_name"].count()
school_count

15

In [4]:
#Calculate the total number of students
student_count = school_data["size"].sum()
student_count

39170

In [5]:
#Total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [6]:
#Average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
#Average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
#% passing math (the percentage of students who passed math)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
            {
            "Total Schools" : [15],
            "Total Students" : [39170],
            "Total Budget" : [24649428],
            "Average Math Score" : [78.98537145774827],
            "Average Reading Score" : [81.87784018381414],
            "% Passing Math" : [74.9808526933878],
            "% Passing Reading" : [85.80546336482001],
            "% Passing Math and Reading" : [65.17232575950983]   
            },
            index = ["District Summary"])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
District Summary,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [12]:
# Use the code provided to select all of the school types
school_types = school_data["type"]
school_types

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [13]:
# School Name
school_name = school_data["school_name"]
school_name

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [14]:
# Calculate the total student count per school
per_school_counts = school_data["size"]
per_school_counts

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [15]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data["budget"]
per_school_capita =school_data["budget"]/school_data["size"]
per_school_budget

0     1910635
1     1884411
2     1056600
3     3022020
4      917500
5     1319574
6     1081356
7     3124928
8      248087
9      585858
10    1049400
11    2547363
12    3094650
13    1763916
14    1043130
Name: budget, dtype: int64

In [66]:
math_score_list=[]
Huang_data = school_data_complete[school_data_complete["school_name"] == "Huang High School"]
math_score_list.append(Huang_data["math_score"].mean())
Figueroa_data = school_data_complete[school_data_complete["school_name"] == "Figueroa High School"]
math_score_list.append(Figueroa_data["math_score"].mean())
Shelton_data = school_data_complete[school_data_complete["school_name"] == "Shelton High School"]
math_score_list.append(Shelton_data["math_score"].mean())
Hernandez_data = school_data_complete[school_data_complete["school_name"] == "Hernandez High School"]
math_score_list.append(Hernandez_data["math_score"].mean())
Griffin_data = school_data_complete[school_data_complete["school_name"] == "Griffin High School"]
math_score_list.append(Griffin_data["math_score"].mean())
Wilson_data = school_data_complete[school_data_complete["school_name"] == "Wilson High School"]
math_score_list.append(Wilson_data["math_score"].mean())
Cabrera_data = school_data_complete[school_data_complete["school_name"] == "Cabrera High School"]
math_score_list.append(Cabrera_data["math_score"].mean())
Bailey_data = school_data_complete[school_data_complete["school_name"] == "Bailey High School"]
math_score_list.append(Bailey_data["math_score"].mean())
Holden_data = school_data_complete[school_data_complete["school_name"] == "Holden High School"]
math_score_list.append(Holden_data["math_score"].mean())
Pena_data = school_data_complete[school_data_complete["school_name"] == "Pena High School"]
math_score_list.append(Pena_data["math_score"].mean())
Wright_data = school_data_complete[school_data_complete["school_name"] == "Wright High School"]
math_score_list.append(Wright_data["math_score"].mean())
Rodriguez_data = school_data_complete[school_data_complete["school_name"] == "Rodriguez High School"]
math_score_list.append(Rodriguez_data["math_score"].mean())
Johnson_data = school_data_complete[school_data_complete["school_name"] == "Johnson High School"]
math_score_list.append(Johnson_data["math_score"].mean())
Ford_data = school_data_complete[school_data_complete["school_name"] == "Ford High School"]
math_score_list.append(Ford_data["math_score"].mean())
Thomas_data = school_data_complete[school_data_complete["school_name"] == "Thomas High School"]
math_score_list.append(Thomas_data["math_score"].mean())

print(math_score_list)

[76.62941378128214, 76.71176670057646, 83.3594548551959, 77.28975188781014, 83.35149863760218, 83.2742006132282, 83.06189451022605, 77.04843247588424, 83.80327868852459, 83.83991683991684, 83.68222222222222, 76.84271067766942, 77.07246376811594, 77.10259218692954, 83.4183486238532]

In [34]:
Huang_data = school_data_complete[school_data_complete["school_name"] == "Huang High School"]
Huang_math_sum = Huang_data["math_score"].sum()/Huang_data["size"].count()
Huang_math_sum

15081.533333333333

In [18]:
test="dick_butt"
a=str()
c=[f"{test}_high_school"]
print(c)

['dick_butt_high_school']

In [54]:
def math_school_avg(dataframe, school):
    df=dataframe
    # Filter the DataFrame based on the school name
    cr_data = df[df[f"{school}_High School"] == f"{school}_High School"]
    math_avg = cr_data["math_score"].mean()
    print(math_avg)
    return float(math_avg)
math_school_avg("school_data_complete",0)

TypeError: string indices must be integers

In [ ]:
# Calculate the average test scores per school
Huang_math = [ mathSum=school_data_complete["school_name"] for mathScore in math_score if school_data_complete["school_name"]=="Huang High School"]
per_school_math =
per_school_reading =

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = 
school_students_passing_math =

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = 
school_students_passing_reading =

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = 

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = 
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade