In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_data.head(20)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [3]:
# Calculate the total number of unique schools
school_count = school_data["school_name"].count()
school_count

15

In [4]:
#Calculate the total number of students
student_count = school_data["size"].sum()
student_count

39170

In [5]:
#Total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [6]:
#Average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
#Average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
#% passing math (the percentage of students who passed math)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
            {
            "Total Schools" : [15],
            "Total Students" : [39170],
            "Total Budget" : [24649428],
            "Average Math Score" : [78.98537145774827],
            "Average Reading Score" : [81.87784018381414],
            "% Passing Math" : [74.9808526933878],
            "% Passing Reading" : [85.80546336482001],
            "% Passing Math and Reading" : [65.17232575950983]   
            },
            index = ["District Summary"])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
District Summary,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [13]:
# School Name
school_name = school_data["school_name"]
school_name

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [14]:
# Use the code provided to select all of the school types
school_types = school_data["type"]
school_types

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [40]:
school_names = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School",
                "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School",
                "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School",
                "Ford High School", "Thomas High School"]

In [55]:
# Calculate the total student count per school
student_count = []

for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    count = school_df["student_name"].count()
    student_count.append(count)

student_count_data = { 'Student Count Per School': student_count}
per_school_student_count = pd.DataFrame(student_count_data, index=None)
per_school_student_count

    Student Count Per School
0                       2917
1                       2949
2                       1761
3                       4635
4                       2283
5                       1858
6                       4976
7                        427
8                        962
9                       1800
10                      3999
11                      4761
12                      2739
13                      1635

In [48]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data.iloc[:,4]
per_school_capita = school_data.iloc[:,4]/school_data.iloc[:,3]
print(per_school_budget)
print(per_school_capita)

0     1910635
1     1884411
2     1056600
3     3022020
4      917500
5     1319574
6     1081356
7     3124928
8      248087
9      585858
10    1049400
11    2547363
12    3094650
13    1763916
14    1043130
Name: budget, dtype: int64
0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [49]:
math_score_avg = []
reading_score_avg = []

for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    avg_score = school_df["math_score"].mean()
    math_score_avg.append(avg_score)

math_score_avg_data = {'Math Score Avg Per School': math_score_avg}
per_school_math = pd.DataFrame(math_score_avg_data, index=None)
print(per_school_math)

for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    avg_score = school_df["reading_score"].mean()
    reading_score_avg.append(avg_score)

# Create a DataFrame to store the results
reading_score_avg_data = {'Reading Score Avg Per School': reading_score_avg}
per_school_reading = pd.DataFrame(reading_score_avg_data, index=None)
print(per_school_reading)

    Math Score Avg Per School
0                   76.629414
1                   76.711767
2                   83.359455
3                   77.289752
4                   83.274201
5                   83.061895
6                   77.048432
7                   83.803279
8                   83.839917
9                   83.682222
10                  76.842711
11                  77.072464
12                  77.102592
13                  83.418349
    Reading Score Avg Per School
0                      81.182722
1                      81.158020
2                      83.725724
3                      80.934412
4                      83.989488
5                      83.975780
6                      81.033963
7                      83.814988
8                      84.044699
9                      83.955000
10                     80.744686
11                     80.966394
12                     80.746258
13                     83.848930

In [51]:

school_students_pass_math = []

# Loop through each school and calculate the number of students passing math
for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    students_passing_math = (school_df["math_score"] >= 70).sum()
    school_students_pass_math.append(students_passing_math)

school_students_pass_math_data = {'Students Passing Math': school_students_pass_math}
per_school_pass_math = pd.DataFrame(school_students_pass_math_data, index=None)

print(per_school_pass_math)

    Students Passing Math
0                    1916
1                    1946
2                    1653
3                    3094
4                    2143
5                    1749
6                    3318
7                     395
8                     910
9                    1680
10                   2654
11                   3145
12                   1871
13                   1525

In [53]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = (school_data_complete["reading_score"] >= 70).sum()

school_students_pass_reading = []

for school_name in school_names:
    school_df = school_data_complete[school_data_complete["school_name"] == school_name]
    students_passing_reading = (school_df["reading_score"] >= 70).sum()
    school_students_pass_reading.append(students_passing_reading)

school_students_pass_reading_data = {'Students Passing reading': school_students_pass_reading}
per_school_pass_reading = pd.DataFrame(school_students_pass_reading_data, index=None)

print(per_school_pass_reading)

    Students Passing reading
0                       2372
1                       2381
2                       1688
3                       3748
4                       2204
5                       1803
6                       4077
7                        411
8                        923
9                       1739
10                      3208
11                      3867
12                      2172
13                      1591

In [54]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

students_passing_math_and_reading.value_counts()

Student ID  student_name       gender  grade  school_name          reading_score  math_score  School ID  type      size  budget
4           Bonnie Ray         F       9th    Huang High School    97             84          0          District  2917  1910635    1
25077       Timothy Marshall   M       9th    Wright High School   84             97          10         Charter   1800  1049400    1
25074       Michael Robinson   M       10th   Wright High School   75             77          10         Charter   1800  1049400    1
25073       Megan Ramsey       F       10th   Wright High School   74             98          10         Charter   1800  1049400    1
25072       Dalton Fisher      M       9th    Wright High School   98             96          10         Charter   1800  1049400    1
                                                                                                                                   ..
13713       Kimberly Garrison  F       11th   Griffin High School  82             73          4          Charter   1468  917500     1
13712       Angel Lee          F       9th    Griffin High School  94             71          4          Charter   1468  917500     1
13711       Andrew Foster      M       10th   Griffin High School  74             92          4          Charter   1468  917500     1
13710       Tammie Robinson    F       10th   Griffin High School  92             92          4          Charter   1468  917500     1
39169       Carolyn Jackson    F       11th   Thomas High School   95             75          14         Charter   1635  1043130    1
Name: count, Length: 25528, dtype: int64

In [31]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

ValueError: Unable to coerce to Series, length must be 1: given 14

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = 

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = 
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade